h1,p,h2{
    text-align: center;
    font-family:  Segoe Print;
    font-weight: bold;
    

}

body{
    background-image: url(cof.jpg);
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat:no-repeat repeat; /* Do not repeat the image */
    /* Additional styles */
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 20px; /* Remove default padding */

}
hr{
    height: 2px;
    background-color: rgb(125, 57, 8);
    border-color:rgb(125, 57, 8) ;
}

.menu{
   background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding: 20px;
    max-width: 500px;
}
.flavor,.dessert{
text-align: left;
width: 75%;
}
.price{
text-align: right;
width: 25%;
font-size: 18px;
}
.item p{
    display: inline-block;
 font-size: 18px;
margin-top: 5px;
margin-bottom: 5px;
}
h1{
    
    font-size: 30px;
    text-decoration: underline;
    font-weight: 900;
    margin-top:0px;
    margin-bottom: 15px;
    
}
h2{
    font-size: 20px;
    text-decoration: underline;
    font-weight:bolder;
  
}
footer{
    font-size: 18px;
}
a{
    color:rgb(125, 57, 8);
}
a:visited{
    color: grey;
}
a:hover{
    color: rgb(240, 226, 226);
}
a:active{
    color: rgb(198, 25, 25);
}
.bottom{
    margin-bottom: 10px;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0px;
}
